img {
    width: 180px;
}

.Register-form {
    flex-grow: 3;
}

.Register-form .form-control {
    padding-right: calc(1.5em + .75rem);
}
.Register-form-center {
    text-align: center;
    margin: auto auto;
}