img {
    width: 180px;
}

.Register-form {
    flex-grow: 3;
}

.Register-form .form-control {
    padding-right: calc(1.5em + .75rem);
}
.Register-form-center {
    text-align: center;
    margin: auto auto;
}

.hr-primary{
  max-width: 200px;
  border-color: #F2BE32;
  border-width: 3px;
}

a.dark-a{
  color: #003c61;
}

a.dark-a:hover{
  color: #000000;
  font-weight:800;
}
