.SpeakerSeries-container {
  margin: auto auto;
  padding: 4em;
  text-align: center;
}

.SpeakerSeries-subtitle {
  padding: 1em;
}

.hr-primary{
  max-width: 200px;
  border-color: #F2BE32;
  border-width: 3px;
}

a.dark-a{
  color: #d19800;
}

a.dark-a:hover{
  color: #003c61;
  font-weight:800;
  text-decoration: none;
}

.MuiPaper-outlined{
  border: 1px solid rgba(0,0,0,0.5) !important;
}

.MuiPaper-outlined:hover{
  border: 3px solid rgba(242, 190, 50,1) !important;
}

.filters{
  padding: 0 20px 0 50px !important;
}

.MuiExpansionPanel-root{
  border: 1px solid rgba(255, 255, 255, .125) !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.MuiExpansionPanel-root::before{
  display: none !important;
}

.MuiExpansionPanel-root .Mui-expanded{
  margin: auto !important;
}

.MuiExpansionPanelSummary-root{
  background-color: rgba(48, 49, 51, .05) !important;
  margin: 10px 0px 10px 0px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
