.MuiCard-root{
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.MuiTypography-h5{
  font-family: 'Muli', sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.4rem !important;
}

.MuiTypography-body2{
  font-family: 'Muli', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.MuiButton-containedPrimary{
  border-color: #F2BE32 !important;
  color: #222 !important;
  background-color: #F2BE32 !important;
  font-family: 'Muli', sans-serif !important;
  font-weight: 700 !important;
  text-align: center;
  padding: 10px 5px 20px 5px;
}

.MuiTextField-root	{
  padding: 7px 5px 20px 5px !important;
  text-align: center !important;
}
