.navbar-light .navbar-brand{
  color: #00568C !important;
  font-weight: 800;
  font-family: 'Muli', sans-serif !important;
  font-size: 28px !important;
}

.navbar{
  background-color:transparent ;
}

.nav-link{
  font-weight: 600;
  font-family: 'Muli', sans-serif !important;
  font-size: 18px !important;
  color: #00568C !important;
}

.nav-link:hover{
  color: #F2BE32 !important;
}
