.navbar-light .navbar-brand {
  color: #00568c !important;
  font-weight: 800;
  font-family: "Muli", sans-serif !important;
}

.navbar {
  background-color: transparent;
}

.nav-link {
  font-weight: 600;
  font-family: "Muli", sans-serif !important;
  color: #00568c !important;
}

.nav-link:hover {
  color: #f2be32 !important;
}

.donation-link {
  color: #f2be32 !important;
}

.donation-link:hover {
  opacity: 0.6;
}
