<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CovEd Match!</title>
</head>

<body>
<p>
Hello {{mentorfirst}},
First and foremost, thank you for volunteering to academically support students during this stressful time. We really
appreciate your passion for helping others. Thank you so much for putting in the time and effort for kids all across the
United States!

<br/>
With that said, a student/parent has requested to have you as a mentor - yay! Their information is below.
<br/>
<b>Email: {{studentemail}}</b>
<br />
<b>Message: {{message}}</b>
<br />
If you choose to accept this mentorship pairing, <b> please fill out <a href="https://forms.gle/gVYaeoUuBV5Ahjcr9">this</a> google form within 24 hours so that we know you
    have paired yourself.</b>
    <br />
    <b>IMPORTANT: </b> If you do intend on mentoring, we first would like for you to read the <a href="https://docs.google.com/document/d/12mTLuFYoSHbLaSAt9dfYmTo2OQIH-tDf5tbRHhAVI5E/edit?usp=sharing">CovEd Mentor Guidelines</a>
    before proceeding. Once read, please confirm that you have read and understood the guidelines and expectations of being
    a mentor by filling out the <a href="https://forms.gle/7PUgtYhxQkPoxi4K6">Mentor Expectations Confirmation</a> form.
    <br/>
    Remember to cc the parent email on every email you send, as explained in the mentor guidelines. We recommend that you
    start with a 30 minute session to introduce yourselves and decide how the mentorship will proceed, including:
    <ul>
        <li>The student’s academic support/needs</li>
        <li>The structure of the sessions</li>
        <li>Practice problems</li>
        <li>Teaching content</li>
        <li>Explaining specific subjects</li>
        <li>Set times and dates that are convenient for both you and the student
            Frequency of the sessions</li>
    </ul>


    Moving forward, if you have any questions, please email covedmentors@gmail.com.

    Thank you again, and we are excited to hear about how the mentorship goes!
    <br/>
    Sadly, we realize that not all signees are able to continue with this mentorship. If this is the case and you choose to
    opt out, please email us saying that you cannot mentor the student with the subject “Cannot Mentor”. Still, we thank
    you!
    <br/>
    Best wishes,
    <br/>
    CovEd Management
</p>
</body>

</html>