/* Styling here. */
@keyframes FadeAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#wrapper {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#wrapper td {
    vertical-align: middle;
    text-align: center;
}